################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


**/bin/**
**/obj/**
/.vs
/EnhanceSureCoreSystem/.vs
/enhancesure/.vs/
/enhancesure/backups/
/enhancesure/Enhancesure.NGUI/.vscode
/enhancesure/packages
/enhancesure/Enhancesure.Application/Shared/Exceptions/RequestGenericExceptionHandler.cs
