################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


**/bin/**
**/obj/**
package.json
package-lock.json
node_modules

/enhancesure/.vs
/enhancesure/Enhancesure.NGUI/.vscode
