<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="card-title mb-0">Interviewer Login</h3>
          </div>
          <div class="card-body">
            <div class="text-center">
              <p>Please login with LinkedIn to continue as an interviewer.</p>
              <a href="#" target="_blank" class="btn btn-linkedin w-100">
                <i class="fa fa-linkedin"></i> Login with LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>